# Ignore everything except top level folders
*
!*/
!*/**

# Allow main.tex and main.pdf in any folder
!**/*.tex
!**/main.pdf

# Ignore tikz folder externalization folder
tikz/

.DS_Store

!.gitignore
!.README.md
